@charset "UFT-8";

body{
    font: normal 16px arial;
    background-color: rgb(0, 157, 255);
}

h1{
    text-align: center;
    color: aliceblue;
}

section{
    background-color: aliceblue;
    max-width: 500px;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    font-size: 20px;
    
}

#nasc{
    margin-bottom: 15px;
}

#sexM{
    margin-bottom: 20px;
}

#result{
    padding-top: 10px;
    margin-bottom: 10px;
}